{# Banner List Component #}
{% macro bannerList(data) %}
  <div class="banner-list">
    <div class="banner-list__content">
      <div
        class="banner-list__grid">
        {# Banner Item 1 #}
        <div class="banner-list__item">
          <div class="banner-list__image-placeholder">
            <img
              src="https://placehold.co/400x300/f5f5f5/666666?text=Banner+Image"
              alt="人生100年時代のリフォーム応援ナビサイト"
              class="banner-list__image"></div>
            <div class="banner-list__text">人生100年時代の<br>リフォーム応援ナビサイト</div>
            </div>
            {# Banner Item 2 #}
            <div class="banner-list__item">
              <div class="banner-list__image-placeholder">
                <img
                  src="https://placehold.co/400x300/f5f5f5/666666?text=Banner+Image"
                  alt="既存賃貸集合住宅の省エネ化支援事業"
                  class="banner-list__image"></div>
                <div class="banner-list__text">既存賃貸集合住宅の<br>省エネ化支援事業</div>
                </div>
                {# Banner Item 3 #}
                <div class="banner-list__item">
                  <div class="banner-list__image-placeholder">
                    <img src="https://placehold.co/400x300/f5f5f5/666666?text=Banner+Image" alt="ごぞんじでしたか?住宅部品" class="banner-list__image"></div>
                    <div class="banner-list__text">ごぞんじでしたか住宅部品</div>
                  </div>
                  {# Banner Item 4 #}
                  <div class="banner-list__item">
                    <div class="banner-list__image-placeholder">
                      <img src="https://placehold.co/400x300/f5f5f5/666666?text=Banner+Image" alt="住宅部品×SDGs" class="banner-list__image"></div>
                      <div class="banner-list__text">住宅部品×SDGs</div>
                    </div>
                    {# Banner Item 5 #}
                    <div class="banner-list__item">
                      <div class="banner-list__image-placeholder">
                        <img
                          src="https://placehold.co/400x300/f5f5f5/666666?text=Banner+Image"
                          alt="優良住宅部品認定制度ハンドブック"
                          class="banner-list__image"></div>
                        <div class="banner-list__text">優良住宅部品認定制度<br>ハンドブック</div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endmacro %}