.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}

.w-0 {
  width: 0;
}
.w-1 {
  width: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-8 {
  width: 2rem;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}
.w-20 {
  width: 5rem;
}
.w-24 {
  width: 6rem;
}
.w-32 {
  width: 8rem;
}
.w-40 {
  width: 10rem;
}
.w-48 {
  width: 12rem;
}
.w-56 {
  width: 14rem;
}
.w-64 {
  width: 16rem;
}
.w-72 {
  width: 18rem;
}
.w-80 {
  width: 20rem;
}
.w-96 {
  width: 24rem;
}

.min-w-1 {
  min-width: 0.25rem;
}
.min-w-2 {
  min-width: 0.5rem;
}
.min-w-3 {
  min-width: 0.75rem;
}
.min-w-4 {
  min-width: 1rem;
}
.min-w-5 {
  min-width: 1.25rem;
}
.min-w-6 {
  min-width: 1.5rem;
}
.min-w-8 {
  min-width: 2rem;
}
.min-w-10 {
  min-width: 2.5rem;
}
.min-w-12 {
  min-width: 3rem;
}
.min-w-16 {
  min-width: 4rem;
}
.min-w-20 {
  min-width: 5rem;
}
.min-w-24 {
  min-width: 6rem;
}
.min-w-32 {
  min-width: 8rem;
}
.min-w-40 {
  min-width: 10rem;
}
.min-w-48 {
  min-width: 12rem;
}
.min-w-56 {
  min-width: 14rem;
}
.min-w-64 {
  min-width: 16rem;
}
.min-w-72 {
  min-width: 18rem;
}
.min-w-80 {
  min-width: 20rem;
}
.min-w-96 {
  min-width: 24rem;
}

.max-w-full {
  max-width: 100%;
}
.max-w-0 {
  max-width: 0;
}
.max-w-1 {
  max-width: 0.25rem;
}
.max-w-2 {
  max-width: 0.5rem;
}
.max-w-3 {
  max-width: 0.75rem;
}
.max-w-4 {
  max-width: 1rem;
}
.max-w-5 {
  max-width: 1.25rem;
}
.max-w-6 {
  max-width: 1.5rem;
}
.max-w-8 {
  max-width: 2rem;
}
.max-w-10 {
  max-width: 2.5rem;
}
.max-w-12 {
  max-width: 3rem;
}
.max-w-16 {
  max-width: 4rem;
}
.max-w-20 {
  max-width: 5rem;
}
.max-w-24 {
  max-width: 6rem;
}
.max-w-32 {
  max-width: 8rem;
}
.max-w-40 {
  max-width: 10rem;
}
.max-w-48 {
  max-width: 12rem;
}
.max-w-56 {
  max-width: 14rem;
}
.max-w-64 {
  max-width: 16rem;
}
.max-w-72 {
  max-width: 18rem;
}
.max-w-80 {
  max-width: 20rem;
}
.max-w-96 {
  max-width: 24rem;
}
