{% extends "layouts/base.njk" %}
{% from "components/standard-form/standard-form.njk" import standardForm %}
{% block title %}認定基準、試験方法書、申請型式一覧 - {{ site.title }}
{% endblock %}
{% block bodyClass %}admin-layout{% endblock %}
{% block content %}
  <div class="admin-content">
    {{ standardForm(standardFormData) }}
  </div>
{% endblock %}
{% block scripts %}
  <script></script>
{% endblock %}
