{% extends "layouts/base.njk" %}
{% from "components/footer/footer.njk" import footer %}

{% block content %}
  <main style="padding: 2rem; min-height: 60vh;">
  </main>

  {{ footer({}) }}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/css/footer/footer.css">
{% endblock %}
